.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  color: #8B8B8B;
  font-size: 10px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  position: relative;
}

.input__input {
  height: 46px;
  border-radius: 8px;
  background: #2F2F2F;
  margin: 0;
  border: none;
  padding: 0 0 0 15px;
  color: #FFF;
  font-size: 13px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}

.input__input_state_error {
  color: #EE3465;
}

.input__error {
  position: absolute;
  top: calc(100% + 7px);
  color: #EE3465;
  font-size: 10px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}
