.movies-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card-list {
    padding-bottom: 17px;
    gap: 20px;
  }
}
