.techs {
  display: flex;
  justify-content: center;
  background: #272727;
}

.techs__container {
  padding: 100px 70px;
  box-sizing: border-box;
  max-width: 1280px;
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .techs__container {
    padding: 93px 50px;
  }
}

@media screen and (max-width: 520px) {
  .techs__container {
    padding: 70px 18px;
  }
}

.techs__title {
  color: #FFF;
  font-size: 22px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0 0 24px;
  font-weight: 400;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 520px) {
  .techs__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

@media screen and (max-width: 768px) {
  .techs__content {
    padding-top: 78px;
  }
}

@media screen and (max-width: 520px) {
  .techs__content {
    padding-top: 50px;
  }
}

.techs__content-heading {
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 0 26px;
  font-weight: 400;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .techs__content-heading {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 520px) {
  .techs__content-heading {
    font-size: 30px;
    letter-spacing: -1.2px;
    margin-bottom: 11px;
  }
}

.techs__content-text {
  padding: 0;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 0 0 100px;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .techs__content-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }
}

@media screen and (max-width: 520px) {
  .techs__content-text {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }
}

.techs__content-techs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 60px;
  width: 100%;
  max-width: 690px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .techs__content-techs {
    min-height: 57px;
    max-width: 648px;
  }
}

@media screen and (max-width: 520px) {
  .techs__content-techs {
    grid-template-columns: repeat(2, 84px);
    justify-content: center;
  }
}

@media screen and (max-width: 520px) {
  .techs__content-techs {
    min-height: 57px;
  }
}

.techs__content-techs-item {
  border-radius: 10px;
  background: #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
  .techs__content-techs-item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 520px) {
  .techs__content-techs-item {
    min-height: 57px;
  }
}
