.sign-form {
  display: flex;
  justify-content: center;
  padding: 0 30px
}

.sign-form__form {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
}

.sign-form__title {
  color: #FFF;
  font-size: 24px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0 0 40px;
}

@media screen and (max-width: 520px) {
  .sign-form__title {
    text-align: center;
  }
}

.sign-form__submit-container {
  position: relative;
  width: 100%;
}

.sign-form__submit-error {
  color: #EE3465;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  position: absolute;
  margin: 0;
  padding: 0;
}

.sign-form__submit-btn {
  width: 100%;
  margin: 91px 0 0;
  padding: 0;
  border-radius: 3px;
  background: #4285F4;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  .sign-form__submit-btn {
    font-size: 12px;
  }
}

.sign-form__submit-btn:hover {
  background: #3b77da;
}

.sign-form__submit-btn:disabled {
  background: #8d8d8d;
  cursor: initial;
}

.sign-form__footer {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  gap: 6px;
}

.sign-form__footer-text {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
}

@media screen and (max-width: 520px) {
  .sign-form__footer-text {
    font-size: 12px;
  }
}

.sign-form__footer-link {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Ubuntu', sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .sign-form__footer-link {
    font-size: 12px;
  }
}

.sign-form__footer-link:hover {
  opacity: .8;
}
